# vim ft=yaml
# travis-ci.org definition for NICEMAN build
language: python
sudo: required
#dist: precise

services:
  - docker

cache:
  - apt

matrix:
  include:
  - python: 2.7
  # no loop dev support on travis yet :-/ https://github.com/travis-ci/travis-ci/issues/2700
  #- python: 2.7
    env:
    - NICEMAN_TESTS_SSH=1
  - python: 2.7
    # By default no logs will be output. This one is to test with log output at INFO level
    env:
    - NICEMAN_LOGLEVEL=INFO
  - python: 2.7
    # By default no logs will be output. This one is to test with low level but dumped to /dev/null
    env:
    - NICEMAN_LOGLEVEL=2
    - NICEMAN_LOGTARGET=/dev/null
  - python: 2.7
    env:
    - NICEMAN_TESTS_NONETWORK=1
    # must operate nicely with those env variables set
    - http_proxy=
    - https_proxy=
  - python: 3.4
  - python: 3.5
    env:
    - NICEMAN_TESTS_SSH=1
  # Those aren't yet ready since lxml Ibelieve fails to install
  #- python: pypy
  #- python: pypy3
# not there -- don't try!
# - python: 3.5
# can't since coverage doesn't support it yet: https://bitbucket.org/ned/coveragepy/issues/391/getargspec-was-finally-removed-will-not-be
# - python: nightly

env:
  # to overcome problem with system-wide installed boto on travis
  # see https://github.com/travis-ci/travis-ci/issues/5246
  - BOTO_CONFIG=/tmp/nowhere

before_install:
  # we do not need anything from those APT sources, and they often fail, disable!
  - sudo sed -i -e '/mongodb/d' /etc/apt/sources.list /etc/apt/sources.list.d/*list
  # The ultimate one-liner setup for NeuroDebian repository
  - bash <(wget -q -O- http://neuro.debian.net/_files/neurodebian-travis.sh)
  - travis_retry sudo apt-get update -qq
  - git config --global user.email "test@travis.land"
  - git config --global user.name "Travis Almighty"

install:
  # - tools/ci/build_install_apt  # Removed dependency on python-apt!
  - cd ..; pip install -q codecov; cd -
  - pip install --upgrade pip
  # needed by html5lib
  - pip install --upgrade 'setuptools>=18.5'
  - pip install -r requirements-devel.txt
  # So we could test under sudo -E with PATH pointing to installed location
  - sudo sed -i -e 's/^Defaults.*secure_path.*$//' /etc/sudoers
  # for SVN tests (SVNRepoShim._ls_files_command())
  - sudo apt-get install sqlite3
  - travis_retry sudo eatmydata apt-get install singularity-container

script:
  # Verify that setup.py build doesn't puke
  - python setup.py build
  - if [ ! -z "$NICEMAN_TESTS_NONETWORK" ]; then sudo route add -net 0.0.0.0 netmask 0.0.0.0 dev lo; fi
  # - $NOSE_WRAPPER `which nosetests` -s -v --with-doctest --doctest-tests --with-cov --cover-package niceman --logging-level=INFO
  - coverage run `which py.test` --integration niceman
  - if [ ! -z "$NICEMAN_TESTS_NONETWORK" ]; then sudo route del -net 0.0.0.0 netmask 0.0.0.0 dev lo; fi
  # Generate documentation and run doctests
  - PYTHONPATH=$PWD make -C docs html doctest

branches:
  except:
  - 3rd-repronimed
  - 3rd

after_success:
  - codecov

# makes it only more difficult to comprehend the failing output.  Enable only when necessary
# for a particular debugging
#after_failure:
#  - if [ ! -z "$NICEMAN_TESTS_NONETWORK" ]; then sudo route add -net 0.0.0.0 netmask 0.0.0.0 dev lo; fi
#  - NICEMAN_LOGLEVEL=DEBUG $NOSE_WRAPPER `which nosetests` -s -v --with-doctest --doctest-tests --with-cov --cover-package niceman --logging-level=DEBUG
#  - if [ ! -z "$NICEMAN_TESTS_NONETWORK" ]; then sudo route del -net 0.0.0.0 netmask 0.0.0.0 dev lo; fi
