metadir={{ shlex_quote(_meta_directory) }}

module load launcher
export LAUNCHER_JOB_FILE="$metadir/launcher"

for task_id in $(seq 0 {{ _num_subjobs - 1}}); do
    echo "$metadir/runscript $task_id" >> "$LAUNCHER_JOB_FILE"
done

"$LAUNCHER_DIR"/paramrun
